html, body{
	margin: 0;
	height: 100%;
}

.general-color{
	background-color: #f3f3f3;
}

.font-color{
	color: #1E3A9B;
}

.footer-design {
	background-color: #2C3E50;
	color: #8C9498;
	letter-spacing: 1px;
	padding: 50px 0 50px;
}

.ghost-button{
	background-color: #fff;
	border: 0.15em solid #BCC4C7;
	color: #BCC4C7;
	display: inline-block;
	letter-spacing: 2px;
	padding: 0.6em 0.7em;
	position: relative;
	text-decoration: none;

	/*CHANGE COLORS WHIT ANIMATION*/
	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;
}

.ghost-button:hover {
	color: #fff;
    background: #123159;
    border-color: #123159;
    text-decoration: none;
}

hr{
	border-color: #1E3A9B !important;
}

/********************************************************************************/
/* GRAPHICS FOR OUR STORY */
/********************************************************************************/

.circle{
	background: #E67E22;
	border-radius: 50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto;
	height: 56px;
	width: 56px;
}

.text-box{
	background: #ffffff;
	border: 1px solid #E67E22;
	border-radius: 15px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
	padding: 10px;
}

#horizontal-line-story{
	border: 1px dashed #E67E22;
	position: absolute;
	top: 175px;
	right: 410px;
	width: 463px;
}

#vertical-line-story{
	border: 1px dashed #E67E22;
	height: 900px;
	position: absolute;
	right: 638px;
	top: 175px;
}

/********************************************************************************/
/* HEADER FULL SIZE */
/********************************************************************************/

#contenedor{
	 -webkit-background-size: cover; 
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 /* PLACE THE ROUTE OF THE IMAGE 
	 background-image: url("../img/127H.jpg"); 
	 */
	 background-color: #000000;
	 background-size: cover;
	 margin: auto; 
	 
}























